<span style="margin-left: 10px;">
<%# from http://twitter.com/about/resources/tweetbutton %>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://alldaybreakdown.com" data-count="none" data-via="brahn">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</span>

<span style="margin-left: 4px">
<%# from http://developers.facebook.com/docs/reference/plugins/like %>
<%# URL to Like is http://www.facebook.com/pages/All-Day-Breakdown/163346340370831 %>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FAll-Day-Breakdown%2F163346340370831&amp;layout=button_count&amp;show_faces=true&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>
</span>