<%# templates used by jQuery.tmpl() plugin to render search results %>
<script id="data-option-template" type="text/x-jquery-tmpl">
  <option value="${id}">
    ${prettyText}
  </option>
</script>

<div id="visualizer-header">
  <h1>
    <span style="float: left" id="page-title"><%= @title %></span>
    <div id="share-buttons-container">
      <%= render :partial => "content/visualizer_header_share_buttons" %>
    </div>
    <div style="clear:both"></div>
  </h1>
  <div class="label-and-field" id="track-select-container">
    <label for="track-select" style="display:none">Track</label>
    <select id="track-select" style="margin-right: 10px"></select>
    <span id="album-links" class="text">
    </span>
  </div>

  <div class="label-and-field" id="data-source-select-container">
    <label for="data-source-select" id="data-source-select-label">
      <span id="data-source-loading-indicator" style="display:none">
        Loading...
      </span>
      <span id="data-source-reload-link-container" style="display:none">
        (<%= link_to_function "Reload", "",
             {:id => "data-source-reload-link"} %>)
      </span>
      <span id="data-source-label-text">
        Sample info from
      </span>
    </label>
    <select id="data-source-select">
    </select>
  </div>
</div>