<div id="visualizer-header">
  <h1>Girl Talk - All Day - Visualized</h1>
  <select id="track-select"></select>
  <select id="data-source-select">
    <%= options_for_select [["Wikipedia", "wikipedia"],
      ["AllDaySamples.com", "allDaySamples"]] %>
  </select>
</div>