<% content_for :page_header do %>
<style>
  #dsq-content li.dsq-comment {
    border-top: solid 1px #192440;
  }
</style>
<% end %>

<div style="width: 500px; min-height: 500px; margin-left: auto; margin-right: auto">

  <div id='disqus_thread'></div>
      <script type='text/javascript'>
      var disqus_shortname = 'mashupbreakdown'; // required
      var disqus_identifier = 'all_day_2010_11_22';
      var disqus_url = 'http://mashupbreakdown.com/';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href='http://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript>
      <a href='http://disqus.com' class='dsq-brlink'>blog comments powered by <span class='logo-disqus'>Disqus</span></a>

</div>