<% content_for :page_javascript do %>
  <% javascript_tag do %>

    var album = allDaySamplesData;

    var setupTrack = function (track) {
      Controls.setup(track.duration);
      if (YouTube.isCreated()) {
        YouTube.load(track.ytId);
      } else {
        YouTube.setup($("#yt-player-standin"), "ytPlayer", track.ytId);
      }
      Visualizer.setup(track);
    };

    var setupTrackSelect = function (album) {
      $.each(album, function (index, track) {
        $('#track-select').append("<option value='" + index + "'>" +
          (index + 1) + ". " + track.title + "</option>");
      });
      $('#track-select').change(function () {
        setupTrack(album[$(this).val()]);
      });
    };

    $(document).ready(function () {
      setupTrack(album[0]);
      setupTrackSelect(allDaySamplesData);
    });
  <% end %>
<% end %>

<%# templates used by jQuery.tmpl() plugin to render search results %>
<script id="sample-block-template" type="text/x-jquery-tmpl">
  <div class="sample-block">
    ${artist} - ${title}
  </div>
</script>

<%= render :partial => "content/visualizer_header" %>

<div id="yt-container">
  <div id="yt-player-standin"></div><%# gets replaced when player inserted %>
</div>

<div id="visualizer">
  <div id="samples-container">
    <div id="samples">
    </div>
  </div>
  <div class="player">
    <span id="playtoggle"></span>
    <span id="gutter">
      <span id="buffer-container">
        <span id="buffer"></span>
      </span>
      <span id="handle" class="ui-slider-handle">
        <span id="handle-tail" style="display:none"></span>
      </span>
    </span>
    <span id="timeleft"></span>
  </div>
</div>

