<%= render :partial => "content/visualizer_header" %>

<div id="yt-container">
  <div id="yt-player-standin"></div><%# gets replaced when player inserted %>
</div>
<div id="yt-error-dialog" style="display:none">
  <p>
    Hmm, the music won't play.
  </p>
  <p>
    If you have a flash blocker, try disabling it.
  </p>
  <p> Or you can just
    try <%= link_to_function "reloading", "window.location.reload()" %>.
  </p>
</div>

<div id="visualizer">
  <div id="samples-container">
    <div id="samples">
    </div>
  </div>
  <div class="player">
    <span id="playtoggle"></span>
    <span id="gutter">
      <span id="buffer-container">
        <span id="buffer"></span>
      </span>
      <span id="handle" class="ui-slider-handle">
        <div id="handle-time-point" style="display:none"></div>
        <span id="handle-tail" style="display:none"></span>
      </span>
    </span>
    <span id="timeleft"></span>
  </div>
</div>

