<h1>
  <span style="float: left" id="page-title"><%= @title %></span>
  <div id="share-buttons-container">
    <%= render :partial => "layouts/application_header_share_buttons" %>
  </div>
  <div style="clear:both"></div>
</h1>
