<h1>
  <span style="float: left">All Day by Girl Talk - Mashup Breakdown</span>
  <div id="share-buttons-container">
    <%= render :partial => "content/share_buttons" %>
  </div>
  <div style="clear:both"></div>
</h1>
