<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <% title = "Mashup Breakdown" + (@meta_title.blank? ? "" : " - " + @meta_title) %>
  <% description = "Interactive timeline identifying the samples in Girl Talk's new album 'All Day'" %>
  <% meta_image_src = "http://mashupbreakdown.com/images/mashup-breakdown-thumbnail.png" %>
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <link rel="image_src" href="<%= meta_image_src %>" />
  <%# facebook tags %>
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="<%= meta_image_src %>" />
  <%# link domain to facebook page %>
  <meta property="fb:page_id" content="143007779084766" />

  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <% javascript_tag do %>
    google.load("jquery", "1.4.4");
    google.load("jqueryui", "1.8.6");
    google.load("swfobject", "2.1");
  <% end %>
  <%= javascript_include_tag "third/jquery.outerhtml" %>
  <%= javascript_include_tag "third/jquery.scrollTo" %>
  <% if false %>
    <%= javascript_include_tag "third/jquery.tmpl" %>
  <% end %>
  <%= javascript_include_tag "third/jquery.tipsy" %>
  <%= javascript_include_tag "helpers" %>
  <%= javascript_include_tag "youtube" %>
<% if false %>
  <%= javascript_include_tag "third/soundcloud.player.api.js" %>
  <%= javascript_include_tag "soundcloud" %>
<% end %>
  <%= javascript_include_tag "controls" %>
  <%= javascript_include_tag "visualizer" %>
  <%= javascript_include_tag "data/alldaysamples" %>
  <%= javascript_include_tag "data" %>
  <%= javascript_include_tag "manager" %>
  <%= javascript_include_tag "exterior" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/dark-hive/jquery-ui.css" %>
  <%= stylesheet_link_tag "third/tipsy" %>
  <%= stylesheet_link_tag "visualizer" %>
  <%= yield :page_javascript %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= GOOGLE_ANALYTICS_ID %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

  <div id="page" class="<%= @page_class %>">
    <div id="hd">
      <%= render :partial => "layouts/application_header" %>
    </div>
    <div id="bd">
      <%= yield %>
    </div>
    <div id="ft">
      <%= render :partial => "layouts/application_footer" %>
    </div>
  </div>

<% if false %>
<%# get satisfaction script %>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<% end %>
</body>
</html>

